:root {
    --navbar-primary: #1e1f30;
    --font-color-nav: #aeaeae;
    --body-color: #0c0d14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my2 {
    margin: 0 2px;
}

.my5 {
    margin: 0 5px;
}

.my10 {
    margin: 0 10px;
}

.mx2 {
    margin: 2px 0;
}

.mx5 {
    margin: 5px 0;
}

.mx10 {
    margin: 10p 0x;
}

body {
    position: relative;
    background-color: var(--body-color);
}

/* header section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: var(--navbar-primary);
}

.navbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    font-family: 'Barrio';
    font-size: 16px;
    color: var(--font-color-nav);
}

.navbar .logo .icon-color {
    color: var(---font-color-nav);
}

.navbar .searchbar input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.navbar .user-btns button {

    color: var(--navbar-primary);
    width: max-content;
    height: 30px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: var(--font-color-nav);
    font-family: 'Roboto';
}

.navbar .user-btns button:hover {
    animation-duration: 0.3s;
    animation-name: nav-btn;
    animation-fill-mode: forwards;
}

@keyframes nav-btn {

    to {
        background-color: #fff;

    }

}

/* sidebar */
#sidebar {
    position: absolute;
    display: block;
    width: max-content;
    background-color: var(--navbar-primary);
    color: var(--font-color-nav);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#sidebar .list {
    padding: 10px;
    list-style: none;
}

#sidebar .list li {
    padding: 10px 0;

}

#sidebar .list li span::before {
    content: '';
    padding-left: 10px;
}

#sidebar .list li span {
    display: inline-block;
    width: 0;
    opacity: 0;
    white-space: nowrap;
    transition: padding-left 0.3s;
}

#sidebar .list:hover span {
    animation-name: sidebar-ani;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#sidebar .list li:hover i {
    color: rgb(120, 120, 120);
}

#sidebar .list span:hover {
    padding-left: 10px;

}

@keyframes sidebar-ani {
    50% {
        width: 130px;
    }

    100% {
        opacity: 1;
        width: 130px;
    }
}

#sidebar .catagory .list a {
    color: var(--font-color-nav);
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto';
}

#sidebar .list li .active {
    color: green;
}

/* sidebar end */

/* signin signup */
.sigmup-signin-window {
    position: relative;
    /* outline: 1px solid red; */
    /* display: none; */
}

.signup-box, .signin-box {
    font-family: "Roboto", sans-serif;
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 3;
  }
  
  .signin-box {
    height: 280px;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  .signin-signup-form {
    width: 300px;
    margin-left: 20px;
  }
  
  .signin-signup-form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .signin-signup-form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  
  .signin-signup-form input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: #fff;
    font-size: 18px;
  }
  
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  
  .para-2 {
    padding-top: 0px;
    color: #fff;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
  }
  
  .para-2 a {
    color: #49c1a2;
  }
  
  .signin-signup.disable {
    display: none;
  }

  /* article:nth-child(2) {
    /* Add the blur effect */
  /*filter: blur(8px);
  -webkit-filter: blur(8px);
  } */

/* signin signup */

.game-container {
    margin-left: 50px;

}

/* cat animation */
#cat {
    display: inline-block;
    position: relative;
    /* outline: 2px solid red; */
    left: 0px;
    bottom: 0px;
}

#cat:hover {
    animation-name: cat-nip;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#anchor {
    width: 10rem;
}

#eyes,
#eyes img {
    position: absolute;
    width: 1rem;
    z-index: 1;
}

#eyes .left {
    top: 50px;
    left: 80px;
    rotate: 180deg;
}

#eyes .right {
    top: 47px;
    left: 98px;
    rotate: 180deg;
}

/* grid styles */

.game-container .games .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    list-style: none;
    /* gap: 1rem; */
}

.game-container .games .list li {
    margin-top: 1rem;
}

.game-container .games .list .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container .games .list .game img {
    max-height: 200px;
    min-width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.game-container .games .list .game:hover img {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);

}

.game-container .games .list .game h3,
.game-container .games .list p {
    color: #fff;
    font-family: 'Roboto';
}
