:root {
    --navbar-primary: #1e1f30;
    --font-color-nav: #aeaeae;
    --body-color: #0c0d14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my2 {
    margin: 0 2px;
}

.my5 {
    margin: 0 5px;
}

.my10 {
    margin: 0 10px;
}

.mx2 {
    margin: 2px 0;
}

.mx5 {
    margin: 5px 0;
}

.mx10 {
    margin: 10p 0x;
}

body {
    position: relative;
    background-color: var(--body-color);
}

/* header section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: var(--navbar-primary);
}

.navbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    font-family: 'Barrio';
    font-size: 16px;
    color: var(--font-color-nav);    
}

.navbar .logo .icon-color {
    color: var(---font-color-nav);
}

.navbar .searchbar input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.navbar .user-btns button {
    
    color: var(--navbar-primary);
    width: max-content;
    height: 30px;
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: var(--font-color-nav);
    font-family: 'Roboto';
}

.navbar .user-btns button:hover {
    animation-duration: 0.3s;
    animation-name: nav-btn;
    animation-fill-mode: forwards;
}

@keyframes nav-btn {
    
    to {
        background-color: #fff;

    }
    
}

/* sidebar */
#sidebar {
    position: absolute;
    display: block;
    width: max-content;
    background-color: var(--navbar-primary);
    color: var(--font-color-nav);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#sidebar .list {
    padding: 10px;
    list-style: none;
}

#sidebar .list li {
    padding: 10px 0;
    
}

#sidebar .list li span::before {
    content: '';
    padding-left: 10px;
}

#sidebar .list li span {
    display: inline-block;  
    width: 0;  
    opacity: 0;
    white-space: nowrap;
    transition: padding-left 0.3s;
}

#sidebar .list:hover span {
    animation-name: sidebar-ani;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#sidebar .list span:hover {
    padding-left: 10px;

}

@keyframes sidebar-ani {
    50% {
        width: 130px;
    }
    100% {
        opacity: 1;
        width: 130px;
    }
}

#sidebar .catagory .list a {
    color: var(--font-color-nav);
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto';
}

#sidebar .list li .active {
    color: green;
}

/* sidebar end */

.game-container {
    margin-left: 50px;
}

/* grid styles */

.game-container .games .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    list-style: none;
    /* gap: 1rem; */
}

.game-container .games .list li {
    margin-top: 1rem;
}

.game-container .games .list .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container .games .list .game img {
    max-height: 200px;
    min-width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.game-container .games .list .game:hover img {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);

}

.game-container .games .list .game h3,.game-container .games .list p {
    color: #fff;
    font-family: 'Roboto';
}